# Python
__pycache__/
*.py[cod]
*$py.class
*egg-info

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
background
deprecated
hips_mosaics
m82
ngc628
parquet_redo
test
ngc628_raw

